<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
template="/template/template.xhtml">
<ui:param name="page_name" value="Accueil" />
<ui:define name="content">
<h:panelGroup>
<h:form>
<h:outputText value="Bonjour #{loginBean.employe.prenom} #{loginBean.employe.nom}" /> |
<h:commandLink value="Déconnexion" action="#{loginBean.doLogout()}" />
</h:form>
</h:panelGroup>
</ui:define>
</ui:composition>